body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --verde-principal: #2ecc71;
  --verde-claro: #2ecc71;
  --vermelho-erro: #c92a2a;
  --cinza-fundo: #f0f2f5;
  --cinza-texto: #495057;
  --cinza-claro: #868e96;
  --branco: #ffffff;
  --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
}